* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 20px;
    font-family: "Mona Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #475d5b;
}

#navbar {
    width: max-content;
    height: 0;
    font-size: 0;
    position: sticky;
    top: 0;
    margin: 0 auto;
    z-index: 1;
}

#navbar a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #c8e690;
    color: #00473e;
}

#navbar a:hover {
    background-color: #00473e;
    color: #f2f7f5;
}

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #c8e690;
    background-image: url(https://i.pinimg.com/originals/b2/48/6a/b2486a366a539284510c76e5bf5f723a.jpg);
    background-size: cover;
}

.box {
    width: fit-content;
    height: fit-content;
    padding: 4rem;
    background-color: transparent;
    backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-align: center;
    transition: transform 1s ease-in-out ;
}

.box:hover {
    transform: scale(1.05);
}

.box h1 {
    width: 100%;
    font-size: 2.5rem;
    text-wrap: nowrap;
    padding-bottom: 1rem;
    color: #00473e;
}

.box p {
    font-size: 2rem;
}

#projects {
    background-color: #00473e;
    padding: 3rem 2rem 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    display: block;
    width: 300px;
    height: fit-content;
    margin: 1rem;
    border: 5px solid #00332c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    background-color: #f2f7f5;
    text-decoration: none;
    color:#475d5b;
    transition: transform 0.4s ease-out;
}

.card:hover {
    transform: translateY(-6px);
}

.more {
    align-self: flex-end;
}

.card img {
    width: 100%;
    background-color: #f2f7f5;
    border-radius: 10px 10px 0 0;
    height: 200px;
    border: none;
}

.card h3 {
    text-align: center;
    padding: 1rem;
}

.info-container {
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.info {
    width: 100%;
    margin: 0 auto;
    max-width: max-content;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
}

.info h2 {
    font-size: 3rem;
    width: 100%;
    padding: 0 2rem;
}

.info p {
    font-style: italic;
    padding: 1rem;
}

#profile-link {
    display: inline-block;
    padding: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
    color: #475d5b;
    transition: transform 0.4s ease-in-out;
}

#profile-link:hover {
    transform: scale(1.15);
}

.footer {
    height: 10vh;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    background-color: #00473e;
    color: #f2f7f5;
    line-height: 10vh;
}

img {
    object-fit: cover;
}

@media (max-width: 425px) {
    html {
        font-size: 16px;
    }
}